/*** @export "breakpoints" css */
/**
 * Breakpoint
 *
 * https://github.com/Team-Sass/breakpoint
 */

@import "breakpoint";

/**
 * breakpoints for colorkit docs are very simple
 * the same single-column layout is served to each breakpoint
 * the only component that needs adjustment base on view port is typography
 *
 * the library table breaks at about 550px (due to the length of the variable names)
 * the navigation breaks at about 350px
 */

$breakpoint-to-ems: true;

$small-screen: 550px;
$large-screen: 1000px;

