/**
 * Greys
 * 
 */

$grey: #808080 !default;

/**
 * Tints
 */
$grey--tint-stack: tint-stack($grey, $sixths);

$grey--tint-1: nth($grey--tint-stack, 2);
$grey--tint-2: nth($grey--tint-stack, 3);
$grey--tint-3: nth($grey--tint-stack, 4);
$grey--tint-4: nth($grey--tint-stack, 5);
$grey--tint-5: nth($grey--tint-stack, 6);
$grey--tint-6: nth($grey--tint-stack, 7);

/**
 * Tones
 */
$grey--tone-stack: tone-stack($grey, $sixths);

$grey--tone-1: nth($grey--tone-stack, 2);
$grey--tone-2: nth($grey--tone-stack, 3);
$grey--tone-3: nth($grey--tone-stack, 4);
$grey--tone-4: nth($grey--tone-stack, 5);
$grey--tone-5: nth($grey--tone-stack, 6);
$grey--tone-6: nth($grey--tone-stack, 7);

/**
 * Shades
 */
$grey--shade-stack: shade-stack($grey, $sixths);

$grey--shade-1: nth($grey--shade-stack, 2);
$grey--shade-2: nth($grey--shade-stack, 3);
$grey--shade-3: nth($grey--shade-stack, 4);
$grey--shade-4: nth($grey--shade-stack, 5);
$grey--shade-5: nth($grey--shade-stack, 6);
$grey--shade-6: nth($grey--shade-stack, 7);

