/**
 * Header
 * 
 */

.masthead {
  padding-top: 8em;
  padding-bottom: 2em;
  margin: 0;
  position: relative;
  text-align: center;
  background: #DFDFDF;
}

.header {
  color: #FFF;
  text-shadow: 0px 2px 2px #222;
  font-family: sans-serif;
  text-size: 3em;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 24%;
  left:50%;
  margin-left: -100px;
  margin-right: -100px;
  z-index: 2;
}

.slogan {
  z-index: 2;
  color: #222;
}

.logo {
  width: 200px;
  height: 200px; 
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
  margin-right: -100px;
  opacity: .75;
}
