/**
 * Level 3 CSS Color Module Keywords
 * 
 * The color keywords defined in SVG: http://www.w3.org/TR/css3-color/
 * as referenced by the CSS Color Module Level 3: http://www.w3.org/TR/SVG/types.html#ColorKeywords
 */


/**
 * Reds
 */
$indianred: indianred;
$lightcoral: lightcoral;
$salmon: salmon;
$darksalmon: darksalmon;
$crimson: crimson;
$red: red;
$firebrick: firebrick;
$darkred: darkred;

/**
 * Pinks
 */
$pink: pink;
$lightpink: lightpink;
$hotpink: hotpink;
$deeppink: deeppink;
$mediumvioletred: mediumvioletred;
$palevioletred: palevioletred;

/**
 * Oranges
 */
$lightsalmon: lightsalmon;
$coral: coral;
$tomato: tomato;
$orangered: orangered;
$darkorange: darkorange;
$orange: orange;

/**
 * Yellows 
 */
$gold: gold;
$yellow: yellow;
$lightyellow: lightyellow;
$lemonchiffon: lemonchiffon;
$lightgoldenrodyellow: lightgoldenrodyellow;
$papayawhip: papayawhip;
$moccasin: moccasin;
$peachpuff: peachpuff;
$palegoldenrod: palegoldenrod;
$khaki: khaki;
$darkkhaki: darkkhaki;

/**
 * Purples
 */
$lavender: lavender;
$thistle: thistle;
$plum: plum;
$violet: violet;
$orchid: orchid;
$magenta: magenta;
$mediumorchid: mediumorchid;
$mediumpurple: mediumpurple;
$blueviolet: blueviolet;
$darkviolet: darkviolet;
$darkorchid: darkorchid;
$darkmagenta: darkmagenta;
$purple: purple;
$indigo: indigo;
$slateblue: slateblue;
$darkslateblue: darkslateblue;
$mediumslateblue: mediumslateblue;

/**
 * Greens
 */
$greenyellow: greenyellow;
$chartreuse: chartreuse;
$lawngreen: lawngreen;
$lime: lime;
$limegreen: limegreen;
$palegreen: palegreen;
$lightgreen: lightgreen;
$mediumspringgreen: mediumspringgreen;
$springgreen: springgreen;
$mediumseagreen: mediumseagreen;
$seagreen: seagreen;
$forestgreen: forestgreen;
$green: green;
$darkgreen: darkgreen;
$yellowgreen: yellowgreen;
$olivedrab: olivedrab;
$olive: olive;
$darkolivegreen: darkolivegreen;
$mediumaquamarine: mediumaquamarine;
$turquoise: turquoise;
$darkseagreen: darkseagreen;
$lightseagreen: lightseagreen;
$darkcyan: darkcyan;
$teal: teal;

/**
 * Blues/Cyans
 */
$cyan: cyan;
$lightcyan: lightcyan;
$paleturquoise: paleturquoise;
$aquamarine: aquamarine;
$mediumturquoise: mediumturquoise;
$darkturquoise: darkturquoise;
$cadetblue: cadetblue;
$steelblue: steelblue;
$lightsteelblue: lightsteelblue;
$powderblue: powderblue;
$lightblue: lightblue;
$skyblue: skyblue;
$deepskyblue: deepskyblue;
$dodgerblue: dodgerblue;
$cornflowerblue: cornflowerblue;
$royalblue: royalblue;
$blue: blue;
$mediumblue: mediumblue;
$darkblue: darkblue;
$navy: navy;
$midnightblue: midnightblue;

/**
 * Browns
 */
$cornsilk: cornsilk;
$blanchedalmond: blanchedalmond;
$bisque: bisque;
$navajowhite: navajowhite;
$wheat: wheat;
$burlywood: burlywood;
$tan: tan;
$rosybrown: rosybrown;
$sandybrown: sandybrown;
$goldenrod: goldenrod;
$darkgoldenrod: darkgoldenrod;
$peru: peru;
$chocolate: chocolate;
$saddlebrown: saddlebrown;
$sienna: sienna;
$brown: brown;
$maroon: maroon;

/**
 * Whites
 */
$white: white;
$snow: snow;
$honeydew: honeydew;
$mintcream: mintcream;
$azure: azure;
$aliceblue: aliceblue;
$ghostwhite: ghostwhite;
$whitesmoke: whitesmoke;
$seashell: seashell;
$beige: beige;
$oldlace: oldlace;
$floralwhite: floralwhite;
$ivory: ivory;
$antiquewhite: antiquewhite;
$linen: linen;
$lavenderblush: lavenderblush;
$mistyrose: mistyrose;

/**
 * Greys
 */
$gainsboro: gainsboro;
$lightgrey: lightgrey;
$silver: silver;
$darkgrey: darkgrey;
$grey: gray;
$dimgrey: dimgrey;
$lightslategrey: lightslategrey;
$darkslategrey: darkslategrey;
$black: black;
// alternate spellings:
$darkgrey: darkgrey;
$darkslategray: darkslategrey;
$dimgray: dimgrey;
$gray: gray;
$lightgray: lightgrey;

