/**
 * Header
 * 
 */

.masthead {
  padding-top: 8em;
  padding-bottom: 5em;
  margin: 0;
  position: relative;
  text-align: center;
  background: $grey--tint-4;    //#DFDFDF;
  //background-image: url(../images/colorwheel2.png);
  //background-repeat: no-repeat;
  //opacity: .4;
}

.header {
  color: #FFF;
  text-shadow: 0px 2px 2px #222;
  font-family: 'Oswald', sans-serif; 
  font-size: $copy--h2-size;         //m(5);  //3em;
  // centering styles 
  width: 200px;
  height: 100px;
  position: absolute;
  top: 20%;
  left:50%;
  margin-left: -100px;
  margin-right: -100px;
  z-index: 2;
}

.slogan {
  z-index: 2;
  font-size: ms(1);
  color: #FFF;
  text-shadow: 0px 1px 2px black(10);
  // centering styles
  width: 350px; //400px;
  height: 100px;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -175px; //-200px;
  margin-right: -175px; //-200px;
  z-index: 2;

//  position: absolute;
}

.logo {
  width: 200px;
  height: 200px; 
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
  margin-right: -100px;
  z-index: 1;
  //opacity: .75;
}

.intro {
  text-align: center;
  margin: 1em;
}

.page {
  margin: 1em;
}
