/**
 * Codekit Page Layout
 */

body {
 // @include debug-vertical-alignment();
}

.l-page {
  margin: 1em;
  @include breakpoint($large-screen) {
    width: convert-to-em(1000px);
    margin: 0 auto;
  }
}
