/**
 * Codekit Page Layout
 */

.l-page {
//  max-width: convert-to-em(1000px);
  @include respond-to(not-large) {
    margin-left: 1em;
    margin-right: 1em;
  } 
  @include respond-to(large-screen) {
    width: convert-to-em(1000px); 
    margin: 0 auto;
  }
}

body {
  //@include debug-vertical-alignment();
}


